{% load static %}
<head>
    <title>
        TEST
    </title>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="{% static 'table/js/vue.js' %}"></script>
    <script src="{% static 'table/js/blabla.js' %}"></script>
</head>

<body>
<div id="app"></div>
</body>
