{% load static %}
<head>
    <title>
        TEST
    </title>
    <link href="{% static 'table/css/table.css' %}" rel="stylesheet">
    <!--обработчик аякс запросов-->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <!--Vue JS-->
    <script src="{% static 'table/js/vue.js' %}"></script>
    <!--скрипт на отрисовку таблицы-->
    <script src="{% static 'table/js/template.js' %}"></script>
</head>

<body>
    <div id="tablespace">
          <my-table></my-table>
    </div>
</body>

<script>
    new Vue({
        el: '#tablespace'
    })
</script>